<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>World Cup 2014</title>
    <link rel="stylesheet"
          type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          type="text/css" href="stylesheets/main.css">
    <style>
    </style>
</head>
<body ng-app="App">
    <div class="container" ng-controller="MatchCtrl" ng-cloak>
        <div class="jumbotron" ng-controller="JumboCtrl">
            <i class="flag-alg pull-left"></i>
            <i class="flag-arg"></i>
            <i class="flag-aus"></i>
            <i class="flag-bel"></i>
            <i class="flag-bih"></i>
            <i class="flag-bra"></i>
            <i class="flag-chi"></i>
            <i class="flag-civ"></i>
            <i class="flag-cmr"></i>
            <i class="flag-col"></i>
            <i class="flag-crc"></i>
            <i class="flag-cro"></i>
            <i class="flag-ecu"></i>
            <i class="flag-eng"></i>
            <i class="flag-esp"></i>
            <i class="flag-fra"></i>
            <i class="flag-ger"></i>
            <i class="flag-gha"></i>
            <i class="flag-gre"></i>
            <i class="flag-hon"></i>
            <i class="flag-irn"></i>
            <i class="flag-ita"></i>
            <i class="flag-jpn"></i>
            <i class="flag-kor"></i>
            <i class="flag-mex"></i>
            <i class="flag-ned"></i>
            <i class="flag-nga"></i>
            <i class="flag-por"></i>
            <i class="flag-rus"></i>
            <i class="flag-sui"></i>
            <i class="flag-uru"></i>
            <i class="flag-usa"></i>
            <div class="clearfix"></div>
            <input class="pull-right col-md-4" type="text" ng-model="name" />
            <label class="pull-right">Namn:</label>
            <h1>Fotbolls-VM 2014</h1>
            <p>1 poäng för varje rätt svar. Gissa slutgiltig vinnare för 6 extra poäng.</p>
            <p>Insats: 100 :-. 1:a plats får 50% av insatserna, 2:a plats får 30% och 3:e plats får 20%.</p>
            <span>
              <i class="glyphicon glyphicon-info-sign red"></i>
              Tiden går ut {{deadline}}, {{timeLeft}}.
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Hemmalag</th>
                        <th>Bortalag</th>
                        <th>Kanal</th>
                        <th>Resultat</th>
                    </tr>
                    <tr ng-repeat="item in matches">
                        <td>{{item.date}} - {{item.time}}</td>
                        <td ng-class="{danger: item.result == 1, info: item.result == 'X'}">
                          <i ng-class="className(item.homeTeam)"></i>
                          {{item.homeTeam}}
                        </td>
                        <td ng-class="{danger: item.result == 2, info: item.result == 'X'}">
                          <i ng-class="className(item.awayTeam)"></i>
                          {{item.awayTeam}}
                        </td>
                        <td>{{item.channel}}</td>
                        <td>
                            <div ng-switch="deadlinePassed()">
                                <span ng-switch-when="true">{{item.result}}</span>
                                <select ng-model="item.result"
                                        ng-switch-when="false"
                                        ng-change="optionChanged()">
                                    <option></option>
                                    <option>1</option>
                                    <option>X</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="form-group form-horizontal">
                        <label class="control-label">Vinnare:</input>
                        <div ng-switch="deadlinePassed()">
                            <span ng-switch-when="true">{{winner.name}}</span>
                            <select class="form-control"
                                    ng-model="winner"
                                    ng-switch-when="false"
                                    ng-change="winnerChanged(winner)"
                                    ng-options="t.name for t in teams">
                                <option value=''>-- Välj finalens vinnare --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/json3/3.3.1/json3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/sv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/Storage.js"></script>
    <script src="javascripts/JumboCtrl.js"></script>
    <script src="javascripts/MainCtrl.js"></script>
</body>
</html>
