<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>World Cup 2014</title>
    <link rel="stylesheet"
          type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      [ng-cloak] { display: none; }
      [class^="flag-"],
      [class*=" flag-"] {
          background: url(csg-538f7ae988d6d.png) no-repeat top left;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
      }
      .flag-alg{ background-position: 0 0; width: 34px; height: 22px; } 
      .flag-arg{ background-position: 0 -72px; width: 34px; height: 22px; } 
      .flag-aus{ background-position: 0 -144px; width: 34px; height: 22px; } 
      .flag-bel{ background-position: 0 -216px; width: 34px; height: 22px; } 
      .flag-bih{ background-position: 0 -288px; width: 34px; height: 22px; } 
      .flag-bra{ background-position: 0 -360px; width: 34px; height: 22px; } 
      .flag-chi{ background-position: 0 -432px; width: 34px; height: 22px; } 
      .flag-civ{ background-position: 0 -504px; width: 34px; height: 22px; } 
      .flag-cmr{ background-position: 0 -576px; width: 34px; height: 22px; } 
      .flag-col{ background-position: 0 -648px; width: 34px; height: 22px; } 
      .flag-crc{ background-position: 0 -720px; width: 34px; height: 22px; } 
      .flag-cro{ background-position: 0 -792px; width: 34px; height: 22px; } 
      .flag-ecu{ background-position: 0 -864px; width: 34px; height: 22px; } 
      .flag-eng{ background-position: 0 -936px; width: 34px; height: 22px; } 
      .flag-esp{ background-position: 0 -1008px; width: 34px; height: 22px; } 
      .flag-fra{ background-position: 0 -1080px; width: 34px; height: 22px; } 
      .flag-ger{ background-position: 0 -1152px; width: 34px; height: 22px; } 
      .flag-gha{ background-position: 0 -1224px; width: 34px; height: 22px; } 
      .flag-gre{ background-position: 0 -1296px; width: 34px; height: 22px; } 
      .flag-hon{ background-position: 0 -1368px; width: 34px; height: 22px; } 
      .flag-irn{ background-position: 0 -1440px; width: 34px; height: 22px; } 
      .flag-ita{ background-position: 0 -1512px; width: 34px; height: 22px; } 
      .flag-jpn{ background-position: 0 -1584px; width: 34px; height: 22px; } 
      .flag-kor{ background-position: 0 -1656px; width: 34px; height: 22px; } 
      .flag-mex{ background-position: 0 -1728px; width: 34px; height: 22px; } 
      .flag-ned{ background-position: 0 -1800px; width: 34px; height: 22px; } 
      .flag-nga{ background-position: 0 -1872px; width: 34px; height: 22px; } 
      .flag-por{ background-position: 0 -1944px; width: 34px; height: 22px; } 
      .flag-rus{ background-position: -84px 0; width: 34px; height: 22px; } 
      .flag-sui{ background-position: -84px -72px; width: 34px; height: 22px; } 
      .flag-uru{ background-position: -84px -144px; width: 34px; height: 22px; } 
      .flag-usa{ background-position: -84px -216px; width: 34px; height: 22px; } 
      .red { color: red; }
    </style>
</head>
<body ng-app="App">
    <div class="container" ng-controller="MatchCtrl" ng-cloak>
        <div class="jumbotron" ng-controller="JumboCtrl">
          <i class="flag-alg pull-left"></i>
          <i class="flag-arg"></i>
          <i class="flag-aus"></i>
          <i class="flag-bel"></i>
          <i class="flag-bih"></i>
          <i class="flag-bra"></i>
          <i class="flag-chi"></i>
          <i class="flag-civ"></i>
          <i class="flag-cmr"></i>
          <i class="flag-col"></i>
          <i class="flag-crc"></i>
          <i class="flag-cro"></i>
          <i class="flag-ecu"></i>
          <i class="flag-eng"></i>
          <i class="flag-esp"></i>
          <i class="flag-fra"></i>
          <i class="flag-ger"></i>
          <i class="flag-gha"></i>
          <i class="flag-gre"></i>
          <i class="flag-hon"></i>
          <i class="flag-irn"></i>
          <i class="flag-ita"></i>
          <i class="flag-jpn"></i>
          <i class="flag-kor"></i>
          <i class="flag-mex"></i>
          <i class="flag-ned"></i>
          <i class="flag-nga"></i>
          <i class="flag-por"></i>
          <i class="flag-rus"></i>
          <i class="flag-sui"></i>
          <i class="flag-uru"></i>
          <i class="flag-usa"></i>
          <div class="clearfix"></div>
            <input class="pull-right col-md-4" type="text" ng-model="name" />
            <label class="pull-right">Namn:</label>
            <h1>Fotbolls-VM 2014</h1>
            <p>1 poäng för varje rätt svar. Gissa slutgiltiga vinnare för 6 extra poäng.</p>
            <p>Insats: 100 :-. 1:an får 50% av insatserna, 2:a plats får 30% och 3:an får 20%.</p>
            <span>
              <i class="glyphicon glyphicon-info-sign red"></i>
              Tiden går ut {{deadline}}, {{timeLeft}}.
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Hemmalag</th>
                        <th>Bortalag</th>
                        <th>Kanal</th>
                        <th>Resultat</th>
                    </tr>
                    <tr ng-repeat="item in matches">
                        <td>{{item.date}} - {{item.time}}</td>
                        <td ng-class="{danger: item.result == 1, info: item.result == 'X'}">
                          <i ng-class="className(item.homeTeam)"></i>
                          {{item.homeTeam}}
                        </td>
                        <td ng-class="{danger: item.result == 2, info: item.result == 'X'}">
                          <i ng-class="className(item.awayTeam)"></i>
                          {{item.awayTeam}}
                        </td>
                        <td>{{item.channel}}</td>
                        <td>
                            <div ng-switch="deadlinePassed()">
                                <span ng-switch-when="true">{{item.result}}</span>
                                <select ng-model="item.result"
                                        ng-switch-when="false"
                                        ng-change="optionChanged()">
                                    <option></option>
                                    <option>1</option>
                                    <option>X</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="form-group form-horizontal">
                        <label class="control-label">Vinnare:</input>
                        <div ng-switch="deadlinePassed()">
                            <span ng-switch-when="true">{{winner.name}}</span>
                            <select class="form-control"
                                    ng-model="winner"
                                    ng-switch-when="false"
                                    ng-change="winnerChanged(winner)"
                                    ng-options="t.name for t in teams">
                                <option value=''>-- Välj finalens vinnare --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js">
    </script>
    <script src="http://cdn.jsdelivr.net/json3/3.3.1/json3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/sv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script>
        var app = angular.module('App', []);

        app.constant('DEADLINE', moment('2014-06-12T15:00'));
        app.factory(
            'Storage',
            function () {
                var STORAGE_ID = "SoccerBets-WorldCup-2014";
                var MATCHES_ID = STORAGE_ID + "-Matches";
                var NAME_ID = STORAGE_ID + "-Name";
                var WINNER_ID = STORAGE_ID + "-Winner";

                return {
                    getMatches: function (defaultMatches) {
                        var stored = localStorage.getItem(MATCHES_ID);
                        if (stored) return JSON.parse(stored);
                        return defaultMatches;
                    },
                    putMatches: function (matches) {
                        localStorage.setItem(MATCHES_ID, JSON.stringify(matches));
                    },
                    getName: function (defaultName) {
                        var stored = localStorage.getItem(NAME_ID);
                        if (stored) return JSON.parse(stored).name;
                        return defaultName;
                    },
                    setName: function (name) {
                        localStorage.setItem(NAME_ID, JSON.stringify({ name: name }));
                    },
                    getWinner: function (defaultWinner) {
                        var stored = localStorage.getItem(WINNER_ID);
                        if (stored) return JSON.parse(stored);
                        return null;
                    },
                    setWinner: function (winner) {
                        if (winner) localStorage.setItem(WINNER_ID, JSON.stringify(winner));
                        else localStorage.removeItem(WINNER_ID);
                    }
                };
        });

        app.controller(
            'JumboCtrl',
            [
                '$scope',
                '$timeout',
                'DEADLINE',
                function ($scope, $timeout, deadline) {
                    $scope.deadline = deadline.format('llll');
                    var formatDate = function () {
                        $scope.timeLeft = deadline.fromNow();
                        $timeout(formatDate, 1000);
                    };

                    // start things off
                    formatDate();
                }
            ]);

        app.controller(
            'MatchCtrl',
            [
                '$scope',
                'Storage',
                'DEADLINE',
                function ($scope, storage, deadline) {
                    $scope.className = function (team) {
                      if (team === "South Korea") team = "kor";
                      else if (team === "Holland") team = "ned";
                      else if (team === "Cameroon") team = "cmr";
                      else if (team === "Spain") team = "esp";
                      else if (team === "Ivory Coast") team = "civ";
                      else if (team === "Schweiz") team = "sui";
                      else if (team === "Iran") team = "irn";
                      else if (team === "Japan") team = "jpn";
                      else if (team === "Nigeria") team = "nga";
                      else if (team === "Costa Rica") team = "crc";
                      else if (team === "Bosnia") team = "bih";
                      return 'flag-' + team.substring(0, 3).toLowerCase();
                    };
                    $scope.deadlinePassed = function () {
                        return deadline.isBefore();
                    };

                    $scope.name = storage.getName('');

                    $scope.$watch('name', function (name) {
                        storage.setName(name);
                    });

                    $scope.winnerChanged = function (winner) {
                        storage.setWinner(winner);
                    };

                    $scope.optionChanged = function () {
                        storage.putMatches($scope.matches);
                    };

                    $scope.matches = storage.getMatches([
                        {
                            date: '12-jun',
                            time: '22:00',
                            homeTeam: 'Brazil',
                            awayTeam: 'Croatia',
                            stadium: 'Sao Paolo',
                            channel: 'SVT',
                        },
                        {
                            date: '13-jun',
                            time: '18.00',
                            homeTeam: 'Mexico',
                            awayTeam: 'Cameroon',
                            stadium: 'NATAL',
                            channel: 'TV4',
                        },
                        {
                            date: '13-jun',
                            time: '21.00',
                            homeTeam: 'Spain',
                            awayTeam: 'Holland',
                            stadium: 'SALVADOR',
                            channel: 'SVT',
                        },
                        {
                            date: '13-jun',
                            time: '24.00',
                            homeTeam: 'Chile',
                            awayTeam: 'Australia',
                            stadium: 'CUIABA',
                            channel: 'TV4',
                        },
                        {
                            date: '14-jun',
                            time: '18.00',
                            homeTeam: 'Colombia',
                            awayTeam: 'Greece',
                            stadium: 'BELO HORIZONTE',
                            channel: 'SVT',
                        },
                        {
                            date: '14-jun',
                            time: '21.00',
                            homeTeam: 'Uruguay',
                            awayTeam: 'Costa Rica',
                            stadium: 'FORTALEZA',
                            channel: 'TV4',
                        },
                        {
                            date: '14-jun',
                            time: '24.00',
                            homeTeam: 'England',
                            awayTeam: 'Italy',
                            stadium: 'MANAUS',
                            channel: 'TV4',
                        },
                        {
                            date: '15-jun',
                            time: '03.00',
                            homeTeam: 'Ivory Coast',
                            awayTeam: 'Japan',
                            stadium: 'RECIFE',
                            channel: 'TV4',
                        },
                        {
                            date: '15-jun',
                            time: '18.00',
                            homeTeam: 'Schweiz',
                            awayTeam: 'Ecuador',
                            stadium: 'BRASILIA',
                            channel: 'TV4',
                        },
                        {
                            date: '15-jun',
                            time: '21.00',
                            homeTeam: 'France',
                            awayTeam: 'Honduras',
                            stadium: 'PORTO ALEGRE',
                            channel: 'SVT',
                        },
                        {
                            date: '15-jun',
                            time: '24.00',
                            homeTeam: 'Argentina',
                            awayTeam: 'Bosnia',
                            stadium: 'RIO DE JANEIRO',
                            channel: 'TV4',
                        },
                        {
                            date: '16-jun',
                            time: '18.00',
                            homeTeam: 'Germany',
                            awayTeam: 'Portugal',
                            stadium: 'SALVADOR',
                            channel: 'SVT',
                        },
                        {
                            date: '16-jun',
                            time: '21.00',
                            homeTeam: 'Iran',
                            awayTeam: 'Nigeria',
                            stadium: 'CURITIBA',
                            channel: 'TV4',
                        },
                        {
                            date: '16-jun',
                            time: '24.00',
                            homeTeam: 'Ghana',
                            awayTeam: 'USA',
                            stadium: 'NATAL',
                            channel: 'SVT',
                        },
                        {
                            date: '17-jun',
                            time: '18.00',
                            homeTeam: 'Belgium',
                            awayTeam: 'Algeria',
                            stadium: 'BELO HORIZONTE',
                            channel: 'SVT',
                        },
                        {
                            date: '17-jun',
                            time: '21.00',
                            homeTeam: 'Brazil',
                            awayTeam: 'Mexico',
                            stadium: 'FORTALEZA',
                            channel: 'TV4',
                        },
                        {
                            date: '17-jun',
                            time: '24.00',
                            homeTeam: 'Russia',
                            awayTeam: 'South Korea',
                            stadium: 'CUIABA',
                            channel: 'SVT',
                        },
                        {
                            date: '18-jun',
                            time: '18.00',
                            homeTeam: 'Australia',
                            awayTeam: 'Holland',
                            stadium: 'PORTO ALEGRE',
                            channel: 'SVT',
                        },
                        {
                            date: '18-jun',
                            time: '21.00',
                            homeTeam: 'Spain',
                            awayTeam: 'Chile',
                            stadium: 'RIO DE JANEIRO',
                            channel: 'TV4',
                        },
                        {
                            date: '18-jun',
                            time: '24.00',
                            homeTeam: 'Cameroon',
                            awayTeam: 'Croatia',
                            stadium: 'MANAUS',
                            channel: 'SVT',
                        },
                        {
                            date: '19-jun',
                            time: '18.00',
                            homeTeam: 'Colombia',
                            awayTeam: 'Ivory Coast',
                            stadium: 'BRASILIA',
                            channel: 'TV4',
                        },
                        {
                            date: '19-jun',
                            time: '21.00',
                            homeTeam: 'Uruguay',
                            awayTeam: 'England',
                            stadium: 'SAO PAOLO',
                            channel: 'SVT',
                        },
                        {
                            date: '19-jun',
                            time: '24.00',
                            homeTeam: 'Japan',
                            awayTeam: 'Greece',
                            stadium: 'NATAL',
                            channel: 'TV4',
                        },
                        {
                            date: '20-jun',
                            time: '18.00',
                            homeTeam: 'Italy',
                            awayTeam: 'Costa Rica',
                            stadium: 'RECIFE',
                            channel: 'SVT',
                        },
                        {
                            date: '20-jun',
                            time: '21.00',
                            homeTeam: 'Schweiz',
                            awayTeam: 'France',
                            stadium: 'SALVADOR',
                            channel: 'TV4',
                        },
                        {
                            date: '20-jun',
                            time: '24.00',
                            homeTeam: 'Honduras',
                            awayTeam: 'Ecuador',
                            stadium: 'CURITIBA',
                            channel: 'SVT',
                        },
                        {
                            date: '21-jun',
                            time: '18.00',
                            homeTeam: 'Argentina',
                            awayTeam: 'Iran',
                            stadium: 'BELO HORIZONTE',
                            channel: 'TV4',
                        },
                        {
                            date: '21-jun',
                            time: '21.00',
                            homeTeam: 'Germany',
                            awayTeam: 'Ghana',
                            stadium: 'FORTALEZA',
                            channel: 'SVT',
                        },
                        {
                            date: '21-jun',
                            time: '24.00',
                            homeTeam: 'Nigeria',
                            awayTeam: 'Bosnia',
                            stadium: 'CUIABA',
                            channel: 'TV4',
                        },
                        {
                            date: '22-jun',
                            time: '18.00',
                            homeTeam: 'Belgium',
                            awayTeam: 'Russia',
                            stadium: 'RIO DE JANEIRO',
                            channel: 'SVT',
                        },
                        {
                            date: '22-jun',
                            time: '21.00',
                            homeTeam: 'South Korea',
                            awayTeam: 'Algeria',
                            stadium: 'PORTO ALEGRE',
                            channel: 'TV4',
                        },
                        {
                            date: '22-jun',
                            time: '24.00',
                            homeTeam: 'USA',
                            awayTeam: 'Portugal',
                            stadium: 'MANAUS',
                            channel: 'SVT',
                        },
                        {
                            date: '23-jun',
                            time: '18.00',
                            homeTeam: 'Holland',
                            awayTeam: 'Chile',
                            stadium: 'SAO PAOLO',
                            channel: 'TV4',
                        },
                        {
                            date: '23-jun',
                            time: '18.00',
                            homeTeam: 'Australia',
                            awayTeam: 'Spain',
                            stadium: 'CURITIBA',
                            channel: 'TV4',
                        },
                        {
                            date: '23-jun',
                            time: '22.00',
                            homeTeam: 'Croatia',
                            awayTeam: 'Mexico',
                            stadium: 'RECIFE',
                            channel: 'SVT',
                        },
                        {
                            date: '23-jun',
                            time: '22.00',
                            homeTeam: 'Cameroon',
                            awayTeam: 'Brazil',
                            stadium: 'BRASILIA',
                            channel: 'SVT',
                        },
                        {
                            date: '24-jun',
                            time: '18.00',
                            homeTeam: 'Costa Rica',
                            awayTeam: 'England',
                            stadium: 'BELO HORIZONTE',
                            channel: 'SVT',
                        },
                        {
                            date: '24-jun',
                            time: '18.00',
                            homeTeam: 'Italy',
                            awayTeam: 'Uruguay',
                            stadium: 'NATAL',
                            channel: 'SVT',
                        },
                        {
                            date: '24-jun',
                            time: '22.00',
                            homeTeam: 'Greece',
                            awayTeam: 'Ivory Coast',
                            stadium: 'FORTALEZA',
                            channel: 'TV4',
                        },
                        {
                            date: '24-jun',
                            time: '22.00',
                            homeTeam: 'Japan',
                            awayTeam: 'Colombia',
                            stadium: 'CUIABA',
                            channel: 'TV4',
                        },
                        {
                            date: '25-jun',
                            time: '18.00',
                            homeTeam: 'Bosnia',
                            awayTeam: 'Iran',
                            stadium: 'SALVADOR',
                            channel: 'TV4',
                        },
                        {
                            date: '25-jun',
                            time: '18.00',
                            homeTeam: 'Nigeria',
                            awayTeam: 'Argentina',
                            stadium: 'PORTO ALEGRE',
                            channel: 'TV4',
                        },
                        {
                            date: '25-jun',
                            time: '22.00',
                            homeTeam: 'Ecuador',
                            awayTeam: 'France',
                            stadium: 'RIO DE JANEIRO',
                            channel: 'SVT',
                        },
                        {
                            date: '25-jun',
                            time: '22.00',
                            homeTeam: 'Honduras',
                            awayTeam: 'Schweiz',
                            stadium: 'MANAUS',
                            channel: 'SVT',
                        },
                        {
                            date: '26-jun',
                            time: '18.00',
                            homeTeam: 'Portugal',
                            awayTeam: 'Ghana',
                            stadium: 'BRASILIA',
                            channel: 'SVT',
                        },
                        {
                            date: '26-jun',
                            time: '18.00',
                            homeTeam: 'USA',
                            awayTeam: 'Germany',
                            stadium: 'RECIFE',
                            channel: 'SVT',
                        },
                        {
                            date: '26-jun',
                            time: '22.00',
                            homeTeam: 'Algeria',
                            awayTeam: 'Russia',
                            stadium: 'CURITIBA',
                            channel: 'TV4',
                        },
                        {
                            date: '26-jun',
                            time: '22.00',
                            homeTeam: 'South Korea',
                            awayTeam: 'Belgium',
                            stadium: 'SAO PAOLO',
                            channel: 'TV4',
                        }
/*28-jun  18.00   Åttondel 1, 1A-2B   BELO HORIZONTE  SVT
28-jun  22.00   Åttondel 2, 1C-2D   RIO DE JANEIRO  TV4
29-jun  18.00   Åttondel 3, 1B-2A   FORTALEZA   TV4
29-jun  22.00   Åttondel 4, 1D-2C   RECIFE  SVT
30-jun  18.00   Åttondel 5, 1E-2F   BRASILIA    svt
30-jun  22.00   Åttondel 6, 1G-2H   PORTO ALEGRE    TV4
01-jul  18.00   Åttondel 7, 1F-2E   SAO PAOLO   TV4
01-jul  22.00   Åttondel 8, 1H-2G   SALVADOR    svt
04-jul  18.00   Kvart 1, vinnare Å5-Å6  RIO DE JANEIRO  SVT
04-jul  22.00   Kvart 2, vinnare Å1-Å2  FORTALEZA   TV4
05-jul  18.00   Kvart 3, vinnare Å7-Å8  BRASILIA    TV4
05-jul  22.00   Kvart 4, vinnare Å3-Å4  SALVADOR    svt
08-jul  22.00   Semi 1, vinnare K2-K1   BELO HORIZONTE  TV4
09-jul  22.00   Semi 2, vinnare K4-K3   SAO PAOLO   svt
12-jul  22.00   Bronsmatch  BRASILIA    svt
13-jul  21.00   Final   RIO DE JANEIRO  TV4
*/
                    ]);

                $scope.teams = _($scope.matches)
                    .uniq('homeTeam')
                    .pluck('homeTeam')
                    .sort()
                    .map(function (n) {
                        return { name: n };
                    })
                    .value();
                var storedWinner = storage.getWinner('');
                if (storedWinner) {
                    $scope.winner = _($scope.teams)
                        .find(function (t) {
                            return t.name === storedWinner.name;
                        });
                }
            }]);
    </script>
</body>
</html>
